/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
}

p {
  font-size: 14px;
  margin: 10px 0;
  line-height: 21px;
}

small {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: rgba(30,14,98,100);
}

a:hover {
  text-decoration: underline;
}

h1 {
  margin: 20px 0;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 12px;
  color: #666;
  font-weight: 500;
  margin: 10px 0;
}

h6 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

strong {
  font-weight: 600;
}

ul, ol {
  margin-left: 30px;
  margin-bottom: 20px;
}

li {
  font-size: 14px;
  line-break: 21px;
  margin: 5px;
}

table {
  width: 100%;
}

table td {
  border: solid 1px #ccc;
  padding: 8px 15px;
  font-size: 12px;
  line-height: 1.5;
}

table td:first-child {
  font-weight: 600;
  text-align: right;
}

#layer-nav {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: rgba(255,255,255,0.6);
  webkit-backdrop-filter: saturate(120%) blur(20px);
  backdrop-filter: saturate(120%) blur(20px);
  z-index: 5;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#main {
  position: fixed;
  width: 340px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  webkit-backdrop-filter: saturate(120%) blur(20px);
  backdrop-filter: saturate(120%) blur(20px);
  z-index: 20;
  padding-bottom: 100px;
  transition: all 0.2s ease-in-out;
}

#page {
  padding: 40px;
  max-width: 600px;
}

@media (hover: none) and (pointer: coarse) {
  #main, #layer-nav {
    background-color: rgba(255,255,255,1);
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  #main {
    width: 100%;
    transform: translateX(100%);
  }

  #main.active {
    transform: translateX(0);
  }
}

#content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
  padding: 20px;
}

#cta {
  background-color: #EE524B;
  position: fixed;
  width: 300px;
  bottom: 0;
  right: 0;
  padding: 0 20px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 30;
  cursor: pointer;
  transition: all 0.3s;
}

#cta:hover {
  text-decoration: none;
  background-color: #FF0B00;
}

@media (min-width: 320px) and (max-width: 480px) {
  #cta {
    width: auto;
    left: 0;
    right: 0;
  }
}

#cta h3 {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
  margin: 0;
}

#cta p {
  font-weight: 500;
  color: rgba(255,255,255,0.7);
  margin: 0;
}

.title {
  line-height: 34px;
}

.title .h1-sm {
  font-size: 18px;
  font-weight: 600;
  display: block;
  letter-spacing: -1px;
}

.title .h1-xl {
  font-size: 35px;
  letter-spacing: -2px;
  font-weight: 600;
  display: block;
}

.tags {
  margin: 10px 0 20px;
  display: flex;
  list-style: none;
}

.tags li {
  border: 1px solid #666;
  color: #666;
  padding: 8px 10px;
  margin: 0;
  margin-right: 8px;
  border-radius: 4px;
  font-size: 12px;
}

.btn {
  border: 2px solid rgba(30,14,98,100);
  border-radius: 50px;
  padding: 10px 15px;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  transition: all 0.5s;
}

.btn:hover {
  border-color: rgba(30,14,98,0.5);
  text-decoration: none;
}

.btn-floating {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #EE524B;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.btn-floating svg {
  fill: #FFF;
}

.btn-floating.btn-close-menu {
  border: 1px solid #EE524B;
  background-color: #FFF;
}

.btn-floating.btn-close-menu svg {
  fill: #EE524B;
}

.btn-floating.btn-close-menu,
.btn-floating.btn-open-menu {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .btn-floating.btn-close-menu,
  .btn-floating.btn-open-menu {
    display: flex;
  }
}

.section-support-links {
  margin-top: 30px;
}

.section-support-links a {
  font-size: 12px;
  margin-right: 8px;
}

.section-margin-bottom {
  margin-bottom: 20px;
}

.section-page-title {
  margin: 60px 0 30px 0;
}

.select-css {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(30,14,98,0.1);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-css option {
  font-weight:normal;
}

.feature-detail-header {
  display: flex;
  align-items: start;
  margin-top: 20px;
}

.feature-detail-header h1.title {
  margin-top: 0;
  flex: 1;
}

a.back-btn svg {
  color: rgba(30,14,98,100);
}

.feature-detail-header a.back-btn {
  display: block;
  margin-right: 20px;
  margin-top: 5px;
}

